@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";

$dark-color:#112027;
$accent-color: #EB5F00;
$accent-color2: #626262;
$title-color: #6F6F6F;
$light-color:white;
$light-textcolor:#B1B1B1;



h1,h2,h3,h4,p {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    max-width: 1920px;
    width: 100%;
}

.page-main {
 color: $dark-color;
}

.wrap {
    max-width: 1635px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1635px;
    margin: 0 auto;
    height: 180px;
   
    &__logo {
        display:block;
        width: 191px;
        height: 133px;
    }

  
    &-menu {
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
        padding-right: 224px;
        line-height: 23px;
      
        &__item {
        margin-left: 54px;
        white-space: pre; 
        font-family: 'Open Sans', sans-serif;
        font-style:normal;
        font-weight: normal;
        font-size: 1.25em;


        &__active {
            color: $dark-color;
        }}      

    }

    a {
    text-decoration: none;
}

    a:hover {
        color: $accent-color;
        transition: 0.3s;
    } 
}

.block-text {
   flex-basis: calc(100%-1076px);

    &__title {
        font-family: 'Roboto', sans-serif;
        font-Style: Bold;
        font-Size: 48px;
        line-height: 59px;
        line-height: 100%;
        color: $title-color; 
        padding-top: 159px;

        &:first-letter {
        color:$accent-color;
        }
    }

    &__button {
        margin-top: 49px;
        width: 415px;
        height: 66px;   
        background:$accent-color;
        box-shadow: 0px 4px 4px rgba(218, 108, 47, 0.41);
        border-radius: 70px;
        color: $light-color;
        font-family:'Open Sans', sans-serif;
        font-style: regular;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        border:none;
        outline: none;
        display: block;
     

        &:hover {
           background: rgb(228, 21, 21);
           transition: 1s;
           box-shadow: none;
        }
    }
        span {
            display: block;
            font-family: 'Open Sans', sans-serif;
            font-style:normal;
            font-Size: 23px;
            line-height: 1.2;
            color: $accent-color;
            padding-top: 30px;


        }

}

.block-team {
    display: flex;
    justify-content: space-between;
       &__demo {
           display: block;
           background-image: url("../img/team.png");
           background-repeat: no-repeat;
           flex-basis: 1076px;
           max-width: 1076px;
           height: 565px; 
           margin-right: -134px; 
       } 
}

.block-slogan {
  display: block;
  margin-top: 59px;
    &__text {
            font-family: 'Open Sans', sans-serif;
            font-size: 24px;
            line-height: 28px;
            text-align: center;
            color: $light-textcolor;
           span {
               color: $title-color;
           }
         
    }

    &__triangle {
    display: block;
    text-align: center;
    margin-top: 79px;
    }
}

.block-company {
    display: flex;
    justify-content: space-between;
    margin-top: 79px;
    
    &__demo2 {
        display: block;
        background-image: url("../img/our_company.png");
        background-repeat: no-repeat;
        flex-basis: 815px;
        max-width: 815px;
        height: 680px; 
    }

    &__block-text-middle {
            font-family: 'Open Sans', sans-serif;
            font-size: 23px;
            margin-left: 37px;
       
            &__title {
            font-family: 'Roboto', sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 47px;
            color: $title-color;
            padding-right: 479px;
            letter-spacing: 1.7px;
          
            &::first-letter {
            color:$accent-color;
            }
        }

        &__content1 {
            padding-top: 86px;
            color: $title-color;
        }

        &__content2 {
            padding-top: 63px;
            color: $title-color;
            span {
                color: $accent-color;
            }
        }
    }
}

.block-possability {
    &__title {
        font-family:'Roboto', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        letter-spacing: 1.7px;
        color: $accent-color;
        margin-top: 75px;
        &::first-letter {
            color: $title-color;
        }
    }
    &__possability {
    display: flex;
    justify-content: space-between;
    margin-top: 49px;
    margin-left:87px;

    &__one {
        display: inline-block;
       
    }

    &__two {
        display: block;
    }

    &__three {
        display: block;
    }

}

&__text {
    font-family: 'Open Sans', sans-serif;
    font-style: regular;
    font-weight: bold;
    font-size: 21px;
    color:$accent-color2;
    display: inline-block;
    vertical-align: top;
    padding-left: 13px;
   
    span {
        color: $light-textcolor;
        font-weight: normal;
    }
  }


}

