<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>gulp-scss-starter</title>
        <meta name="theme-color" content="#fff">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon">
        <link rel="icon" sizes="16x16" href="img/favicons/favicon-16x16.png" type="image/png">
        <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">
        <link rel="apple-touch-icon-precomposed" href="img/favicons/apple-touch-icon-precomposed.png">
        <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="57x57" href="img/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="img/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="img/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="img/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="img/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="img/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="img/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="img/favicons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="167x167" href="img/favicons/apple-touch-icon-167x167.png">
        <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png">
        <link rel="apple-touch-icon" sizes="1024x1024" href="img/favicons/apple-touch-icon-1024x1024.png">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap" rel="stylesheet">
      
        <link rel="stylesheet" href="styles/main.css">
    </head>
    <body>
        <!--@@include("../blocks/modules/header/header.html")
        @@include("../blocks/modules/footer/footer.html")-->
        <header>
            <div class="page-main">
            <div class="header">
            <a href="" class="header__logo"><img src="../img/logo.png" alt="shunyata"  class="header__logo"></a>
            <ul class="header-menu">
            <li class="header-menu__item"><a href="" class="header-menu__item__active">О компании</a></li>
            <li class="header-menu__item"><a href="" class="header-menu__item__active">Услуги</a></li>
            <li class="header-menu__item"><a href="" class="header-menu__item__active">Клиенты</a></li>
            <li class="header-menu__item"><a href="" class="header-menu__item__active">Тренинги</a></li>
            <li class="header-menu__item"><a href="" class="header-menu__item__active">Тренеры</a></li>
            <li class="header-menu__item"><a href="" class="header-menu__item__active">Блог</a></li>
            <li class="header-menu__item"><input type="text" placeholder="Поиск.." style="margin-left: 90%;"></li>
            </ul>
        </div> <!--Header-->
        </div> <!--page-main-->
        </header>
        <div class="wrap">
            <div class="block-team">
                <div class="block-text">
                    <h1 class="block-text__title">РАСКРОЙ СВОЙ ПОТЕНЦИАЛ <span>Гарантированный результат от <br>лучшей команды</span></h1>
                    <input type="submit" value="ЗАПИСАТЬСЯ НА ТРЕНИНГ" class="block-text__button">
                </div> <!--block-text-->
                <div class="block-team__demo"></div>
            </div> <!--block-team-->
            <div class="block-slogan"><p class="block-slogan__text"><span>Наша мечта жить в свободной и процветающей стране.</span><br>
                Именно поэтому мы создали команду, в которой каждый, являясь частью единого и <br>значимого не потерял своей индивидуальности, 
                а наоборот: проявляя свою <br>индивидуальность, сделал команду сильнее, мобильнее, более гибкой.</p>
                <div class="block-slogan__triangle"><img src="/img/triangle.png" alt="triangle">
                </div>
            </div><!--block-slogan-->
       </div> <!--wrap-->
       <div class="wrap">
            <div class="block-company">
                <div class="block-company__demo2"></div>
                <div class="block-company__block-text-middle">
                    <h1 class="block-company__block-text-middle__title">О НАШЕЙ КОМПАНИИ</h1>
                    <p class="block-company__block-text-middle__content1">Трениговый центр «ШУНЬЯТА» начал свою деятельность как <br> направление бизнес-обучения в составе агентства событий <br> PRемьера, которое было основано в 2003 году. <br>
                            Наработанный опыт, и доверие наших клиентов позволили вывести <br>это направление деятельности в отдельный вид бизнеса. </p>
                    <p class="block-company__block-text-middle__content2"><span>«Шуньята» - это бесконечный потенциал и бесконечная <br> возможность.</span>
                           <br> В современном мире такие термины, как «пустота», «шуньята», <br> «скрытый порядок», «квантовый вакуум», «статика» и т.п. <br> подразумевают расширение сознания, 
                            его вездесущность и <br> взаимосвязь. На шаг впереди будет тот, кто понимает, что «пустота» <br>это, в сущности, философская категория, которая трактуется так же <br>
                            как «пространство возможностей». И мы, каждый раз, принимая <br>решение, заполняем это пространство. Ведь все созданное в нашем <br>мире когда-то было чьей-то мечтой. </p>
                </div> <!--block-text-middle-->
            </div> <!--block-company-->
            <div class="block-possability">
                <h2 class="block-possability__title">НАШИ ТРЕНИНГИ ПОЗВОЛЯЮТ</h2>
            <div class="block-possability__possability">
                <div class="block-possability__possability__one"><img src="../img/opportunity1.png"><h3 class="block-possability__text">Получать новые знания<br><span>Работающая ситема внедрения<br> новых технологий и знаний</span></h3></div>
                <div class="block-possability__possability__two"><img src="../img/opportunity2.png"><h3 class="block-possability__text">Развивать свои навыки<br><span>Проработка личных стратегий и <br>решений</span></h3></div>
                <div class="block-possability__possability__three"><img src="../img/opportunity3.png"><h3 class="block-possability__text">Достигать лучших результатов<br><span>Поддержка квалифированных <br>тренеров и консультантов</span></h3></div>
             </div> <!--block-company__possability-->
          
            <div class="block-slogan__triangle""><img src="/img/triangle.png" alt="triangle"></div>
        </div>
        </div> <!--wrap-->
        <footer>
                    
        </footer>
       
        <script src="js/main.js"></script>
        <script src="js/vendor.js"></script>
    </body>
</html>
